# shellcheck disable=
PGID=1000
TZ="Europe/Amsterdam"
PUID=1000
AUTO_LANGUAGES_DISCORD_WEBHOOK=
CADDY_PASSWORD=
CADDY_USERNAME=
CLOUDFLARE_API_KEY=
CLOUDFLARE_EMAIL=
CLOUDFLARE_ZONE_ID=
CONNECTION_HOST=
CONNECTION_PASSWORD=
CONNECTION_PORT=
CONNECTION_USER=
CURSEFORGE_API_KEY=
DISCORD_AUTO_LANGUAGES_WEBHOOK=
EMAIL=
GHCR_TOKEN=
IPINFO_APIKEY=
JDOWNLOADER_PASSWORD=
KOPIA_PASSWORD=
LIBRESPEED_PASSWORD=
PLEX_TOKEN=
POSTGRES_PASSWORD=
PROTON_OPENVPN_PASS=
PROTON_OPENVPN_USER=
QBITTORRENT_PASSWORD=
RCON_PASSWORD=
SPACEDRIVE_PASSWORD=
TAILSCALE_AUTH_KEY=
USERNAME=
VALKEY_PASSWORD=
VNC_PASSWORD=
KANEELNAS_HOST=
ANILIST_TOKEN_1=
PLEX_USER_1=
ANILIST_TOKEN_2=
PLEX_USER_2=
ANILIST_TOKEN_3=
PLEX_USER_3=
ANILIST_TOKEN_4=
PLEX_USER_4=
USENET_HOSTNAME=
USENET_USERNAME=
USENET_PASSWORD=
USENET_PORT=
PEGASUS_ADMIN_PASSWORD=
PEGASUS_ROTATION_KEY_MULTIBASE=
PEGASUS_JWK_MULTIBASE=
PEGASUS_DPOP_NONCE_SECRET=
PDS_SMTP_AUTH_URI=
PDS_ADMIN_PASSWORD=
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX=
PDS_JWT_SECRET=
SEAFILE_MARIADB_ROOT_PASSWORD=
SEAFILE_MARIADB_USER_PASSWORD=
SEAFILE_ADMIN_EMAIL=
SEAFILE_ADMIN_PASSWORD=
SEAFILE_REDIS_PASSWORD=
SEAFILE_JWT_PRIVATE_KEY=
FILEBROWSER_ADMIN_PASSWORD=
EXPLORER_SECRET=
AUTOKUMA_USERNAME=
AUTOKUMA_PASSWORD=
ATPROTO_DID=
TRANQUIL_JWT_SECRET=
TRANQUIL_DPOP_SECRET=
TRANQUIL_MASTER_KEY=
TRANQUIL_PLC_ROTATION_KEY=
TRANQUIL_DISCORD_BOT_TOKEN=
RELAY_ADMIN_PASSWORD=
TERRARIA_PASSWORD=
